<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/menu.ejs') %>
    <div class="container align-content-center">
        <center>
                <h1 class="mb-3">
                    Blog Posts
                </h1>
        </center>
        </div>
        <% posts.forEach((post) => {%>
            <div class="card mt-4">
               <div class="card-body">
                   <h4 class="card-title">
                       <%=post.title%>
                   </h4>

                   <div class="card-subtitle text-muted mb-2">
                        <%=post.date.toLocaleDateString()%>
                   </div>

                   <div class="card-text mb-2">
                       <%=post.description%>
                   </div>
               </div>
            </div>
        <% }) %>

    </div>

</body>

</html>